BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: true
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
SortIncludes: false
